@model ParulBeautyCareViewModel.ViewModel.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Module = "Parul Beauty Care";
}
<link href="~/Content/assets/css/Dashboard.css" rel="stylesheet" />
<div class="content-wrapper">

    <br />
    <!--Cards-->
    <div class="row">
        <div class="col-12">
            <div class="row hoverCard">
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="opacity-10 fa fa-users"></i>
                            </div>
                            <h2 class="text-end mt-2 mx-2">Total Customers</h2>
                        </div>
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <p></p>
                                <h2>@Model.TotalCustomers</h2>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-info w-100" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa fa-regular fa-calendar-day opacity-10"></i>
                            </div>
                            <h2 class="text-end mt-2 mx-2">Today's Appointments</h2>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p></p>
                                <h2>@Model.TodayAppointments</h2>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success w-100" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-success shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa fa-users-crown opacity-10"></i>
                            </div>
                            <h2 class="text-end mt-2 mx-2">Total Staff</h2>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p></p>
                                <h2>@Model.TotalStaff</h2>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-danger w-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa fa-regular fa-calendar-check opacity-10"></i>
                            </div>
                            <h2 class="text-end mt-2 mx-2">Today's Bookings</h2>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p></p>
                                <h2>@Model.TodaysBookings</h2>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-warning w-100" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <!--Charts-->
    <div class="row mt-4 hoverCard">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="PreviousWeekChart" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="mb-0 ">Previous Week Appointments</h2>
                    <hr class="dark horizontal">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="CurrentWeekChart" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="mb-0 ">Current Week Appointments</h2>
                    <hr class="dark horizontal">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="mb-0 ">Customers Ratio (Monthly)</h2>
                    <hr class="dark horizontal">
                </div>
            </div>
        </div>
    </div>
    <!---->

    <div class="row mt-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between  border-bottom">
                        <h4 class="card-title mb-3">Today's Staff Work(Services)</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped DashboardTable text-center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Html.DisplayName("Staff Code")</th>
                                        <th>@Html.DisplayName("Name")</th>
                                        <th>@Html.DisplayName("Work Count")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.StaffTodayServicesList)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-outline-primary" style=" padding: 0.875rem 1.5rem !important;" id="@item.StaffId" onclick="AllocatedServices(this.id)">Allocated Work</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StaffCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StaffName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ServiceCount)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 d-flex grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between  border-bottom">
                        <h4 class="card-title mb-3">Today's Appointments</h4>
                        <a href="@Url.Action("BookAppointment","BookingManagement")" target="_blank" class="btn btn-outline-primary p-2 mb-3"><i class="fa fa-calendar-plus mx-2"></i>Book Appointment</a>
                    </div>
                    <div class="row mt-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped DashboardTable text-center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Html.DisplayName("Booking Code")</th>
                                        <th>@Html.DisplayName("Customer Name")</th>
                                        <th>@Html.DisplayName("Contact No")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AppointmentsList)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-outline-primary" style=" padding: 0.875rem 1.5rem !important;" id="@item.BookingId" onclick="AllServices(this.id)">Appointment Detail</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactNo)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between  border-bottom">
                        <h4 class="card-title mb-3">Today's Completed Appointments</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped DashboardTable text-center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Html.DisplayName("Booking Code")</th>
                                        <th>@Html.DisplayName("Customer Name")</th>
                                        <th>@Html.DisplayName("Contact No")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CompletedAppointmentsList)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-outline-primary" style=" padding: 0.875rem 1.5rem !important;" id="@item.BookingId" onclick="CompletedServices(this.id)">Appointment Detail</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactNo)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AllocatedServicesModal" tabindex="-1" role="dialog" a ria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="card-title modal-title" id="exampleModalLabel">Allocated Work</h4>
                <button type="button" class="btn btn-close close AllocatedServicesClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body AllocatedServicesModalBody">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CompletedServicesModal" tabindex="-1" role="dialog" a ria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="card-title modal-title" id="exampleModalLabel">Today's Completed Appointments</h4>
                <button type="button" class="btn btn-close close CompletedServicesClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body  CompletedServicesModalBody">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AllServicesModal" tabindex="-1" role="dialog" a ria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="card-title modal-title" id="exampleModalLabel">Today's Appointments</h4>
                <button type="button" class="btn btn-close close AllServicesClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body  AllServicesModalBody">

            </div>
        </div>
    </div>
</div>

<script>
     function AllServices(id) {
        $.get("@Url.Action("AllServicesDetails", "Home")/" + id,
            function (data) {
                $('.AllServicesModalBody').html(data);
                $("#AllServicesModal").modal("show");
            });
     }

    function CompletedServices(id) {
        $.get("@Url.Action("CompletedServicesDetails", "Home")/" + id,
            function (data) {
                $('.CompletedServicesModalBody').html(data);
                $("#CompletedServicesModal").modal("show");
        });
    }
    function AllocatedServices(id) {
        $.get("@Url.Action("AllocatedServicesDetails", "Home")/" + id,
            function (data) {
                $('.AllocatedServicesModalBody').html(data);
                $("#AllocatedServicesModal").modal("show");
        });
     }
</script>

<script>

    function extractData(chartData) {
        var labels = [];
        var values = [];

        chartData.forEach(function (item) {
            labels.push(item.WeekdayName);
            values.push(item.AppointmentCount);
        });

        return { labels: labels, values: values };
    }

    var LastWeekchartData = @Html.Raw(Json.Encode(Model.DashboardPreviousWeekAppointmentChartList));

    var data = extractData(LastWeekchartData);

    var ctx = document.getElementById("PreviousWeekChart").getContext("2d");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: data.labels, // Use the extracted labels
            datasets: [{
                label: "Appointments",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "rgba(255, 255, 255, .8)",
                data: data.values, // Use the extracted values
                maxBarThickness: 6
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        min: 0,
                        stepSize: 1,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff"
                    },
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });

    var CurrenttWeekchartData = @Html.Raw(Json.Encode(Model.DashboardCurrentWeekAppointmentChartList));

    var data2 = extractData(CurrenttWeekchartData);

    var ctx2 = document.getElementById("CurrentWeekChart").getContext("2d");

    new Chart(ctx2, {
        type: "bar",
        data: {
            labels: data2.labels,
            datasets: [{
                label: "Appointments",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: data2.values,
                maxBarThickness: 6

            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        min: 0,
                        stepSize: 1,
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
        type: "line",
        data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Total Customers",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: [52, 55, 200, 125, 133, 188, 255, 296, 300],
                maxBarThickness: 6

            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#f8f9fa',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });
</script>
