@model ParulBeautyCareViewModel.ViewModel.StockMgmtViewModel.StockTransferHeaderViewModel
@{
    ViewBag.Title = "Stock Transfer";
    ViewBag.Module = "Stock Management";
}
<style>
    .bg-gradient-primary {
        background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    }
</style>
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between">
                        <h2 class="text-white text-capitalize ps-3 title_margin"><b>Stock Transfer</b></h2>


                        @*@if (Convert.ToInt32(TempData["ViewRight"]) == 1)
                            {*@
                        @*<a class="btn btn-light btn-icon mb-2 mx-2 title_a" href="@Url.Action("ViewStockTransfer","StockManagement")">
                                <i class="fa-solid fa-list-check mx-2 text-black"></i><b>View</b>
                            </a>*@
                        @*<a class="dedcription-btn anc" href="@Url.Action("ViewStockTransfer","StockManagement")">
                                <span class="name-descripeion"> <b> VIEW RECORDS</b> </span>
                                <div class="btn-icon brain">
                                    <i class="fa-solid fa-list-check"> </i>
                                </div>
                            </a>*@
                        @*}*@
                    </div>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("AddStockTransfer", "StockManagement", FormMethod.Post, new { @class = "forms-sample", id = "myForm" }))
                    {
                        @Html.AntiForgeryToken();
                        @*@Html.HiddenFor(m => m.StockAllocationId)*@

                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label class="col-form-label">
                                From Staff Member
                                @Html.ValidationMessageFor(m => m.FromStaffId, "", new { @class = "text-danger h3" })
                            </label>

                            <div class="input-group input-group-outline mb-3">
                                @Html.DropDownListFor(m => m.FromStaffId, new SelectList(Model.StaffList, "StaffId", "StaffName"), "Select Staff Member",
              new Dictionary<string, object>() {
                                               {"id","ddlStaffId"},
                                               { "class","form-control form-select js-example-basic-single w-100"}
                  })
                            </div>
                        </div>



                        <div class="col-sm-3">
                            <label class="col-form-label">
                                Product
                                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger h3" })
                            </label>

                            <div class="input-group input-group-outline mb-3">
                                @Html.DropDownListFor(m => m.ProductName, new SelectList(Model.AvailableStockList
                                                                                        .GroupBy(p => p.ProductName)
                                                                                        .Select(group => group.First()),
                                                                                        "ProductName", "ProductName"),
                                                        "Select Product",
                                                        new Dictionary<string, object>() {
                                                            {"id", "ddlAvailProd"},
                                                            {"class", "form-control form-select js-example-basic-single w-100"}
                                                        })
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <label class="col-form-label">
                                Quantity
                                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger h3" })
                            </label>

                            <input type="number" placeholder="Enter the number of checkboxes to select" class="form-control" id="numCheckboxes" min="1">


                        </div>


                        <div class="col-sm-3">
                            <label class="col-form-label">
                                To Staff Member
                                @Html.ValidationMessageFor(m => m.ToStaffId, "", new { @class = "text-danger h3" })
                            </label>

                            <div class="input-group input-group-outline mb-3">
                                @Html.DropDownListFor(m => m.ToStaffId, new SelectList(Model.StaffList, "StaffId", "StaffName"), "Select Staff Member",
             new Dictionary<string, object>() {
                                              {"id","ddlStaff2Id"},
                                              { "class","form-control form-select js-example-basic-single w-100"}
                 })
                            </div>
                        </div>



                    </div>

                        <button type="submit" class="btn btn-primary mr-2 mt-3" onclick="return formSubmit('Are You sure you want to save data?')">Submit</button>

                        <!--Available Stock List-->
                       
                       @*<div class="row form-group">
                            <div class="col-sm-3">
                                <input type="number" placeholder="Enter the number of checkboxes to select" class="form-control" id="numCheckboxes" min="1" >
                            </div>
                        </div>*@
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="base-style" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Action")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Product Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Available Stock")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Barcode")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("No of Person")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Available Person")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AvailableStockList)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" name="selectedIds" value="@item.StockDetailId" />
                                                            </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ProductName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.availstock)
                                                    </td>
                                                    <td>
                                                        <img src="data:image/png;base64,@item.Barcode" alt="Barcode Image" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NoOfPerson)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.availperson)
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!---->
                    }


                    <!--RUFF -->
                    @*<div class="row mt-4">
                                            <div class="col-lg-2 col-md-2 mt-4 mb-2">
                                                <div class="card z-index-2 ">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 ">
                                                            <div class="text-center text-white">
                                                                <h3>Face Wash</h3>
                                                                <h5>Available Stock : 1</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        Quantity
                                                        @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", id = "Qty", placeholder = "Quantity", required = "required" })

                                                        <hr class="dark horizontal">
                                                        <button type="submit" class="btn-sm btn-primary" onclick="return formSubmit('Are You sure you want to save data?')">Transfer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 mt-4 mb-2">
                                                <div class="card z-index-2 ">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 ">
                                                            <div class="text-center text-white">
                                                                <h3>Eye Liner</h3>
                                                                <h5>Available Stock : 2</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        Quantity
                                                        @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", id = "Qty", placeholder = "Quantity", required = "required" })

                                                        <hr class="dark horizontal">
                                                        <button type="submit" class="btn-sm btn-primary" onclick="return formSubmit('Are You sure you want to save data?')">Transfer</button>
                        </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 mt-4 mb-2">
                                                <div class="card z-index-2 ">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 ">
                                                            <div class="text-center text-white">
                                                                <h3>Nail Art Pen</h3>
                                                                <h5>Available Stock : 2</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        Quantity
                                                        @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", id = "Qty", placeholder = "Quantity", required = "required" })

                                                        <hr class="dark horizontal">
                                                        <button type="submit" class="btn-sm btn-primary" onclick="return formSubmit('Are You sure you want to save data?')">Transfer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                    <!--RUFF -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Without Ajax-->
<script>
    $(document).ready(function () {
        debugger
        var originalToStaffOptions = $('#ddlStaff2Id').html();
        var selectedStaffId = $('#ddlStaffId').val()
        if (selectedStaffId != "") {
            updateToStaffDropdown(selectedStaffId);
        }


        $('#ddlStaffId').change(function () {
            debugger
            var selectedStaffId = $(this).val();
            updateToStaffDropdown(selectedStaffId);

            if (selectedStaffId != "") {
                var form = $('#myForm');
                var currentAction = form.attr('action');
                var newAction = currentAction.replace('/StockManagement/AddStockTransfer', '/StockManagement/StockAvailable?id=' + selectedStaffId);
                form.attr('action', newAction);
                form.submit();
            }
        });


        $('#ddlAvailProd').change(function () {
            debugger
            var prodName = $(this).val();
            var selectedStaffId = $('#ddlStaffId').val();
            updateToStaffDropdown(selectedStaffId);

            if (selectedStaffId != "") {
                var form = $('#myForm');
                var currentAction = form.attr('action');
                var newAction = currentAction.replace('/StockManagement/AddStockTransfer', '/StockManagement/StockAvailable2?id=' + selectedStaffId + '&&pname=' + prodName);
                form.attr('action', newAction);
                form.submit();
            }
        });


        function updateToStaffDropdown(selectedStaffId) {
            debugger
            if ($('#ddlStaff2Id').val() === selectedStaffId) {
                debugger
                $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove();
            }
            $('#ddlStaff2Id').html(originalToStaffOptions); // Restore original options
            $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove(); // Remove selected option
        }

    });
</script>
@*<script>
        $(document).ready(function () {
            debugger
            var originalToStaffOptions = $('#ddlStaff2Id').html();
            var selectedStaffId = $('#ddlStaffId').val()
            if (selectedStaffId != "") {
                updateToStaffDropdown(selectedStaffId);
            }

            $('#ddlStaffId').change(function () {
                debugger
                var selectedStaffId = $(this).val();
                updateToStaffDropdown(selectedStaffId);

                if (selectedStaffId != "") {
                    var form = $('#myForm');
                    var currentAction = form.attr('action');
                    var newAction = currentAction.replace('/StockManagement/AddStockTransfer', '/StockManagement/StockAvailable?id=' + selectedStaffId);
                    form.attr('action', newAction);
                    // form.submit(); // Removed this form submission here
                }
            });

            $('#myForm').submit(function (e) {
                debugger
                var toStaffId = $('#ddlStaff2Id').val();
                if (toStaffId === null) {
                    debugger
                    e.preventDefault(); // Prevent form submission
                    alert('Please select the "To Staff Member"');
                    return false; // Prevent form submission entirely
                }
                return true; // Allow form submission if everything is valid
            });

            function updateToStaffDropdown(selectedStaffId) {
                debugger
                if ($('#ddlStaff2Id').val() === selectedStaffId) {
                    debugger
                    $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove();
                }
                $('#ddlStaff2Id').html(originalToStaffOptions); // Restore original options
                $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove(); // Remove selected option
            }
        });
    </script>*@
<!--Using Ajax with table design-->
@*<script>
        $(document).ready(function () {
            var originalToStaffOptions = $('#ddlStaff2Id').html();
            var selectedStaffId = $('#ddlStaffId').val();
            if (selectedStaffId != "") {
                updateToStaffDropdown(selectedStaffId);
            }
             $('#ddlStaffId').change(function () {
                    var selectedStaffId = $(this).val();
                    updateToStaffDropdown(selectedStaffId);

                    // Make an AJAX call to the StockAvailable action
                    $.ajax({
                        url: '@Url.Action("StockAvailable", "StockManagement")',
                        data: { id: selectedStaffId },
                        type: 'GET',
                        success: function (data) {
                            // Update "To Staff Member" dropdown options
                            $('#ddlStaff2Id').html(originalToStaffOptions);
                            $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove();

                            // Clear the existing table body
                            $('#base-style tbody').empty();

                            // Iterate through the received data and update the table
                            $.each(data, function (index, item) {
                                var row = '<tr>' +
                                    '<td>' +
                                    '<div class="form-check">' +
                                    '<label class="form-check-label">' +
                                    '<input type="checkbox" class="form-check-input" name="selectedIds" value="' + item.StockDetailId + '" />' +
                                    '</label>' +
                                    '</div>' +
                                    '</td>' +
                                    '<td>' + item.ProductName + '</td>' +
                                    '<td>' + item.availstock + '</td>' +
                                    '<td><img src="data:image/png;base64,' + item.Barcode + '" alt="Barcode Image" /></td>' +
                                    '<td>' + item.NoOfPerson + '</td>' +
                                    '<td>' + item.availperson + '</td>' +
                                    '</tr>';

                                $('#base-style tbody').append(row);
                            });
                        },
                        error: function (xhr, status, error) {
                            // Handle error if needed
                        }
                    });
                });

            function updateToStaffDropdown(selectedStaffId) {
                if ($('#ddlStaff2Id').val() === selectedStaffId) {
                    $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove();
                }
                $('#ddlStaff2Id').html(originalToStaffOptions); // Restore original options
                $('#ddlStaff2Id option[value="' + selectedStaffId + '"]').remove(); // Remove selected option
            }

            // Button click event handler NOt Included
            //$('#submitBtn').click(function (event) {
            //    event.preventDefault(); // Prevent the default form submission

            //    var form = $('#myForm');
            //    if (form[0].checkValidity()) {
            //        // If the form is valid, submit the form
            //        form.submit();
            //    } else {
            //        // If the form is invalid, show validation errors
            //        form.addClass('was-validated');
            //    }
            //});
        });
    </script>*@


<script>
    $(document).ready(function () {
        $('#numCheckboxes').on('input', function () {
            var numSelected = parseInt($(this).val());

            // Get the total number of checkboxes
            var totalCheckboxes = $('input[name="selectedIds"]').length;

            // Display an alert if entered value is greater than total checkboxes
            if (numSelected > totalCheckboxes) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Entered value exceeds total records!',
                    showConfirmButton: false,
                    timer: 3000
                })
                return;
            }

            // Uncheck all checkboxes
            $('input[name="selectedIds"]').prop('checked', false);

            // Check the specified number of checkboxes, up to the total number
            $('input[name="selectedIds"]:lt(' + Math.min(numSelected, totalCheckboxes) + ')').prop('checked', true);
        });
    });

</script>
@*<script>
    $(document).ready(function () {
        // Create the input element
        var inputElement = $('<input>', {
            type: 'number',
            placeholder: 'Enter the number of checkboxes to select',
            class: 'form-control form-control-sm',
            id: 'numCheckboxes',
            min: '1'
        });

        // Insert the input element into the div with id "base-style_length"
        $('#base-style_length').append(inputElement);
    });
</script>*@