@model ParulBeautyCareViewModel.ViewModel.StockMgmtViewModel.StockPurchaseViewModel
@{
    ViewBag.Title = "Stock Purchase";
    ViewBag.Module = "Stock Management"; 
    }

<div class="content-wrapper">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between row">
                <h2 class="text-white text-capitalize ps-3 title_margin col-md-6"><b>Stock Purchase</b></h2>

                @if (Convert.ToInt32(TempData["InsertRight"]) == 1)
                {
                    @*<a class="btn btn-light btn-icon mb-2 mx-2 title_a" href="@Url.Action("AddStockPurchase","StockManagement")">
                <i class="fa fa-plus mx-2 text-black"></i><b>Add</b>
            </a>*@
                    <a class="dedcription-btn anc col-md-6" href="@Url.Action("AddStockPurchase","StockManagement")">
                        <span class="name-descripeion text-uppercase"> <b> Add Records</b> </span>
                        <div class="btn-icon brain">
                            <i class="fas fa-plus"> </i>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="card-body">

            @*<div class="row">
                <div class="d-xl-flex justify-content-end align-items-end">
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddStockPurchase","StockManagement")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>*@
            <div class="row">
                <div class="col-12">
                        <table id="Mybase-style" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Action")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Product Image")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Department Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Product Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Product Type")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Quantity")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Price")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Purchase Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Manufacturing Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Expiry Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Vender")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StockPurchaseList)
                                {
                                <tr>
                                    <td>
                                        @if (Convert.ToInt32(TempData["UpdateRight"]) == 1)
                                        {
                                            <a href="@Url.Action("EditStockPurchase","StockManagement",new { purchaseid = item.PurchaseId })" class="mx-3"><i class="fa fa-pencil"></i></a>
                                        }
                                        else
                                        {
                                            @*<img src="~/Images/edit_dis_2.png" style=" width: 13%;" />*@
                                            <img src="~/Images/icons8-no-edit-16 (1).png" />
                                        }
                                    </td>
                                    <td>
                                        <a class="lightbox" href="#@item.ProductImage">
                                            <img src="../@item.ProductImage" />
                                        </a>
                                        <div class="lightbox-target" id="@item.ProductImage">
                                            <img src="../@item.ProductImage" />
                                            <a class="lightbox-close" href="#"></a>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductTName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.manufactureDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.expiryDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorName)
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
