@model ParulBeautyCareViewModel.ViewModel.Master.ItemMasterViewModel
@{
    ViewBag.Title = "Item Master";
    ViewBag.Module = "Master";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between row">
                        <h2 class="text-white text-capitalize ps-3 title_margin col-md-6"><b>Create Item</b></h2>
                        <a class="dedcription-btn anc col-md-6" href="@Url.Action("ViewItemMaster","Master")">
                            <span class="name-descripeion"> <b> VIEW RECORDS</b> </span>
                            <div class="btn-icon brain">
                                <i class="fa-solid fa-list-check"> </i>
                            </div>
                        </a>
                        @*}*@
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("AddItemMaster", "Master", FormMethod.Post, new { @class = "forms-sample", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Action)
                        @Html.HiddenFor(x => x.ItemId)
                        @Html.HiddenFor(x => x.CreateUser)
                        @Html.HiddenFor(x => x.CreateDate)
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label class="col-form-label">
                                    Item Name
                                    @Html.ValidationMessageFor(m => m.ItemName, "", new { @class = "text-danger h3" })
                                </label>

                                @Html.TextBoxFor(m => m.ItemName, new Dictionary<string, object>() {
                                                                            {"id","txtItemName"},
                                                                            {"class","form-control text-capitalize"},
                                                                               {"autocomplete","off"},
                                                                            {"required","required"},
                                                                            {"placeholder","Enter Item Name"}
                                                                            })
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">IsActive</label>
                                <div class="input-group input-group-outline mb-3">
                                    @Html.DropDownListFor(x => x.IsActive, new List<SelectListItem>
                                           {
                                               new SelectListItem{ Text="Enable", Value = "true",Selected=true },
                                               new SelectListItem{ Text="Disable", Value = "false" }
                                            }, new { @class = "js-example-basic-single  w-100", @id = "IsActive" })
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2 mt-3" onclick="return formSubmit('Are You sure you want to save data?')">Submit</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>