@model IEnumerable<ParulBeautyCareDbClasses.DataModels.PBProductTypeMasterRetrieve_Result>
@{
    ViewBag.Title = "Product Type Master";
    ViewBag.Module = "Master";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between row">
                <h2 class="text-white text-capitalize ps-3 title_margin col-md-6"><b>Product Type Master</b></h2>
                @if (Convert.ToInt32(TempData["InsertRight"]) == 1)
                {
                    @*<a class="btn btn-light btn-icon mb-2 mx-2 title_a" href="@Url.Action("AddProductTypeMaster", "Master")">
                <i class="fa fa-plus mx-2 text-black"></i><b>Add</b>
            </a>*@

                    <a class="dedcription-btn anc col-md-6" href="@Url.Action("AddProductTypeMaster","Master")">
                        <span class="name-descripeion"> <b> ADD RECORDS</b> </span>
                        <div class="btn-icon brain">
                            <i class="fas fa-plus"> </i>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="card-body">
            @*<h1 class="pink"><b>STAFF MANAGEMENT </b></h1>*@
            @*<div class="row">
                <div class="d-xl-flex justify-content-between align-items-center">
                    <h1 class="pink"><b>ProductType Master </b></h1>
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddProductTypeMaster","Master")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>*@
            <div class="row">
                <div class="col-12">
                        <table id="Mybase-style" class="table table-striped">
                            <thead>
                                <tr>
                                    @*<th>
                                        @Html.DisplayName("Action")
                                    </th>*@
                                    <th>
                                        @Html.DisplayName("Product Type")
                                    </th>
                                    <th>
                                        @Html.DisplayName("IsActive")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Create Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Create User")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Convert.ToInt32(TempData["ViewRight"]) == 1)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            @*<td>
                        @if (ViewBag.UpdateRight == 1)
                        {
                            <a href="@Url.Action("EditProductTypeMaster","Master",new { id = item.ProductTypeId })" class="mx-3"><i class="fa fa-pencil"></i></a>
                        }


                    </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductTName)
                                            </td>
                                            <td>
                                                @*<label class="toggle">
            <input class="toggle-checkbox" type="checkbox" onclick='ActiveDeactiveStatusChange(this,"@item.ProductTypeId","ProductTypeMaster")' @(item.IsActive == true ? "checked" : "")>
            <span class="toggle-switch"></span>
        </label>*@
                                                @if (Convert.ToInt32(TempData["UpdateRight"]) == 1)
                                                {
                                                    <div class="button r" id="button-2">
                                                        <input type="checkbox" class="checkbox" onclick='ActiveDeactiveStatusChange(this,"@item.ProductTypeId","ProductTypeMaster")' @(item.IsActive == true ? "checked" : "")>
                                                        <div class="knobs"></div>
                                                        <div class="layer"></div>
                                                    </div>
                                                }
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.cdate)</td>
                                            <td> @Html.DisplayFor(modelItem => item.CreateUser)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>You have no rights to view data</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

