@model IEnumerable <ParulBeautyCareDbClasses.DataModels.PBIntePackageServiceMasterRetrieve_Result>
@{
    ViewBag.Title = "Integration Package-Service";
    ViewBag.Module = "Master";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between row">
                <h2 class="text-white text-capitalize ps-3 title_margin col-md-6"><b>Integration Package-Service List</b></h2>
                @if (Convert.ToInt32(TempData["InsertRight"]) == 1)
                {
                    <a class="dedcription-btn anc col-md-6" href="@Url.Action("AddIntePackageServiceMaster","Master")">
                        <span class="name-descripeion"> <b> ADD RECORDS</b> </span>
                        <div class="btn-icon brain">
                            <i class="fas fa-plus"> </i>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="Mybase-style" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                                <th>
                                    @Html.DisplayName("Package Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Service Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Product Name")
                                </th>
                                <th>
                                    @Html.DisplayName("IsActive")
                                </th>
                                <th>
                                    @Html.DisplayName("Create Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Create User")
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Convert.ToInt32(TempData["ViewRight"]) == 1)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (Convert.ToInt32(TempData["UpdateRight"]) == 1)
                                            {
                                                <a href="@Url.Action("EditIntePackageServiceMaster","Master",new { id = item.IntePackageServiceId })" class="mx-3"><i class="fa fa-pencil"></i></a>
                                            }
                                            else
                                            {
                                                <img src="~/Images/icons8-no-edit-16 (1).png" />
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackageName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @if (Convert.ToInt32(TempData["ViewRight"]) == 1)
                                            {
                                                <div class="button r" id="button-2">
                                                    <input type="checkbox" class="checkbox" onclick='ActiveDeactiveStatusChange(this,"@item.IntePackageServiceId","IntePackageServiceMaster")' @(item.IsActive == true ? "checked" : "")>
                                                    <div class="knobs"></div>
                                                    <div class="layer"></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="button r" id="button-2">
                                                    <input type="checkbox" class="checkbox" disabled="disabled" onclick='ActiveDeactiveStatusChange(this,"@item.IntePackageServiceId","IntePackageServiceMaster")' @(item.IsActive == true ? "checked" : "")>
                                                    <div class="knobs"></div>
                                                    <div class="layer"></div>
                                                </div>
                                            }
                                        </td>

                                        <td> @Html.DisplayFor(modelItem => item.CreateDate)</td>
                                        <td> @Html.DisplayFor(modelItem => item.CreateUser)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>You have no rights to view data</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
