@model IEnumerable<ParulBeautyCareDbClasses.DataModels.PBIntePageModuleRtr_Result>
@{
    ViewBag.Title = "Page Module Master";
    ViewBag.Module = "User Management";
}
<div class="content-wrapper">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between row">
                <h2 class="text-white text-capitalize ps-3 title_margin col-md-6"><b>Page Module Master</b></h2>
             
                @if (Convert.ToInt32(TempData["InsertRight"]) == 1)
                {
                    @*<a class="btn btn-light btn-icon mb-2 mx-2 title_a" href="@Url.Action("AddPageModuleMaster", "UserManagement")">
                <i class="fa fa-plus mx-2 text-black"></i><b>Add</b>
            </a>*@

                    <a class="dedcription-btn anc col-md-6" href="@Url.Action("AddPageModuleMaster","UserManagement")">
                        <span class="name-descripeion"> <b> ADD RECORDS</b> </span>
                        <div class="btn-icon brain">
                            <i class="fas fa-plus"> </i>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="card-body">
            @*<div class="row">
                <div class="d-xl-flex justify-content-between align-items-center">
                    <h1 class="pink"><b>Page Module Master </b></h1>
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddPageModuleMaster","UserManagement")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>*@
            <div class="row">
                <div class="col-12">
                        <table id="Mybase-style" class="table table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        Module Name
                                    </th>
                                    <th>
                                        Page Name
                                    </th>
                                    <th>
                                        IsActive
                                    </th>
                                    <th>
                                        Create Date
                                    </th>
                                    <th>Create User</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModuleName)

                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.PageName)

                                        </td>

                                        <td>
                                            @*<label class="switch">
            <input type="checkbox" class="btnRoleDisable" @(ViewBag.UpdateRight == 1 ? "enabled" : "disabled") onclick='UmActiveDeactiveStatusChange(this,"@item.ModuleId","ModuleMaster")' @(item.IsActive == true ? "checked" : "")>
            <span class="slider round"></span>
        </label>*@

                                            <div class="button r" id="button-2">
                                                <input type="checkbox" class="checkbox" @(ViewBag.UpdateRight == 1 ? "enabled" : "disabled") onclick='UmActiveDeactiveStatusChange(this, "@item.InteId", "PageModuleMaster")' @(item.IsActive == true ? "checked" : "")>
                                                <div class="knobs"></div>
                                                <div class="layer"></div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateUser)
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>


