@model IEnumerable<ParulBeautyCareDbClasses.DataModels.PBPageMasterRtr_Result>
@{
    ViewBag.Title = "Page Master";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Module = "User Management";
}
<div class="content-wrapper">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-3 d-flex justify-content-between row">
                <h2 class="text-white text-capitalize ps-3 title_margin col-md-6"><b>Page Master</b></h2>
             
                @if (Convert.ToInt32(TempData["InsertRight"]) == 1)
                {
                    @*<a class="btn btn-light btn-icon mb-2 mx-2 title_a" href="@Url.Action("AddPageMaster", "UserManagement")">
                <i class="fa fa-plus mx-2 text-black"></i><b>Add</b>
            </a>*@

                    <a class="dedcription-btn anc col-md-6" href="@Url.Action("AddPageMaster","UserManagement")">
                        <span class="name-descripeion"> <b> ADD RECORDS</b> </span>
                        <div class="btn-icon brain">
                            <i class="fas fa-plus"> </i>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="card-body">
            @*<div class="row">
                <div class="d-xl-flex justify-content-between align-items-center">
                    <h1 class="pink"><b>Page Master</b></h1>
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddPageMaster","UserManagement")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>*@
            <div class="row">
                <div class="col-12">
                        <table id="Mybase-style" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Action
                                    </th>
                                    <th>
                                        Page Name
                                    </th>
                                    <th>
                                        Page URL
                                    </th>
                                    <th>
                                        Page Priority
                                    </th>

                                    <th>
                                        IsActive
                                    </th>
                                    <th>
                                        Create Date
                                    </th>
                                    <th>Create User</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (Convert.ToInt32(TempData["UpdateRight"]) == 1)
                                            {
                                                @*@Html.ActionLink(" ", "EditPageMaster", new { id = item.PageId }, new { @class = "btn editbtn fa fa-pen-to-square", title = "Edit" })*@

                                                <a href="@Url.Action("EditPageMaster","UserManagement",new { id = item.PageId })" class="mx-3"><i class="fa fa-pencil"></i></a>
                                            }
                                            else
                                            {
                                                @*<img src="~/Images/edit_dis_2.png" style=" width: 13%;" />*@
                                                <img src="~/Images/icons8-no-edit-16 (1).png" />
                                            }
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PageName)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PageUrl)

                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PagePriority)

                                        </td>

                                        <td>
                                            @*<label class="switch">
                                                <input type="checkbox" class="btnRoleDisable" @(ViewBag.UpdateRight == 1 ? "enabled" : "disabled") onclick='UmActiveDeactiveStatusChange(this,"@item.PageId","PageMaster")' @(item.IsActive == true ? "checked" : "")>
                                                <span class="slider round"></span>
                                            </label>*@

                                            <div class="button r" id="button-2">
                                                <input type="checkbox" class="checkbox" @(ViewBag.UpdateRight == 1 ? "enabled" : "disabled") onclick='UmActiveDeactiveStatusChange(this,"@item.PageId","PageMaster")' @(item.IsActive == true ? "checked" : "")>
                                                <div class="knobs"></div>
                                                <div class="layer"></div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateUser)
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>



