@model IEnumerable<ParulBeautyCareDbClasses.DataModels.PBModuleMasterRtr_Result>
@{
    ViewBag.Title = "Module Master";
    ViewBag.Module = "User Management";
}
<div class="content-wrapper">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-pinkHeader shadow-primary border-radius-lg pt-4 d-flex justify-content-between">
                <h2 class="text-white text-capitalize ps-3 title_margin"><b>Module Master</b></h2>
                <a class="btn btn-light btn-rounded btn-icon mb-2 mx-2 title_a" href="@Url.Action("AddModuleMaster","Master")">
                    <i class="fa fa-plus mx-2 text-black"></i>
                </a>

            </div>
        </div>
        <div class="card-body">
            @*<div class="row">
                <div class="d-xl-flex justify-content-between align-items-center">
                    <h1 class="pink"><b>Module Master </b></h1>
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddModuleMaster","UserManagement")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>*@
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="base-style" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Action
                                    </th>
                                    <th>
                                        Module Name
                                    </th>
                                    <th>
                                        Module Priority
                                    </th>
                                    <th>
                                        Self Page
                                    </th>
                                    <th>
                                        Module Icon
                                    </th>
                                    <th>
                                        IsActive
                                    </th>
                                    <th>
                                        Create Date
                                    </th>
                                    <th>
                                        Create User
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (ViewBag.UpdateRight == 1)
                                            {@Html.ActionLink(" ", "EditModuleMaster", new { id = item.ModuleId }, new { @class = " btn editbtn fa fa-pen-to-square", title = "Edit" })
                                        }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModuleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModulePriority)
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" disabled="disabled" class="btnRoleDisable" @(item.IsSelfURL == true ? "checked" : "")>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FaIcon)
                                        </td>
                                        <td>
                                            @*<label class="toggle">
                                                <input type="checkbox" class="toggle-checkbox" @(ViewBag.UpdateRight == 1 ? "enabled" : "disabled") onclick='UmActiveDeactiveStatusChange(this,"@item.ModuleId","ModuleMaster")' @(item.IsActive == true ? "checked" : "")>
                                                <span class="toggle-switch"></span>
                                            </label>*@

                                            <div class="button r" id="button-2">
                                                <input type="checkbox" class="checkbox" @(ViewBag.UpdateRight == 1 ? "enabled" : "disabled") onclick='UmActiveDeactiveStatusChange(this,"@item.ModuleId","ModuleMaster")' @(item.IsActive == true ? "checked" : "")>
                                                <div class="knobs"></div>
                                                <div class="layer"></div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateUser)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

