<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parul's Beauty Care</title>
    <link href="~/Content/assets/vendors/typicons.font/font/typicons.css" rel="stylesheet" />
    <link href="~/Content/assets/fontawesome-free-6.4.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/Asset1.png" />
    <link href="~/Content/assets/css/code.jquery.com_ui_1.12.1_themes_base_jquery-ui.css" rel="stylesheet" />

    <script src="~/Content/assets/js/chartjs.min.js"></script>
    <!--Datatable-->
    <link href="~/Content/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
    @*<link href="~/Content/assets/bootstrap/cdn.datatables.net_1.13.5_css_jquery.dataTables.css" rel="stylesheet" />*@
    <!---->

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <link href="~/Content/assets/bootstrap/flatpickr.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">*@

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/Content/assets/bootstrap/jquery-3.7.0.js"></script>
    <style>
        .sidebar .nav .nav-item.active > .nav-link i {
            color: #b5c4d4;
        }

        .myLg {
            margin-right: -34px !important;
            width: 55px !important;
            height: 42px !important;
        }

        .navbar .navbar-brand-wrapper .brand-logo-mini img {
            width: calc(70px - 30px);
            max-width: none !important;
            margin: auto;
        }

        .pink {
            color: #f2125e;
        }

        .modal-content {
            border: 2px solid #f2125e !important;
        }

        a {
            color: #f2125e;
            text-decoration: underline;
        }

        /*.title_margin {
            margin-bottom: 22px;
        }*/
        .title_a {
            padding-top: 13px !important;
            margin-top: -11px !important;
        }
        .field-icon {
            float: right;
            margin-top: -30px;
            position: relative;
            right: 15px;
            z-index: 2;
        }
    </style>
</head>
<body>
    <div class="container-scroller">

        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">

                    <img rel="shortcut icon" src="~/Images/pb_logo.png" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Images/Asset1.png" class="myLg" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" style="z-index:1;" type="button" data-toggle="minimize">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                            @*<i class="typcn typcn-user-outline me-0"></i>*@
                            <i class="fas fa-user"></i>
                            <span class="nav-profile-name">@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

                            <a class="dropdown-item" href="@Url.Action("Login", "Home")">
                                <i class="typcn typcn-power text-primary"></i>
                                Logout
                            </a>
                        </div><i class="fa-solid fa-angle-down"></i>
                    </li>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close typcn typcn-delete-outline"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border me-3"></div>
                        Light
                    </div>
                    <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border me-3"></div>
                        Dark
                    </div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles primary"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default border"></div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            @Html.Action("GetMenu", "Home")

            @*<nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <div class="d-flex sidebar-profile">
                                <div class="sidebar-profile-image">
                                    <img src="~/Images/Asset1.png" class="bg-white" alt="image" />
                                    <span class="sidebar-status-indicator"></span>
                                </div>
                                <div class="sidebar-profile-name">
                                    <p class="sidebar-name">
                                        @User.Identity.Name
                                    </p>
                                    <p class="sidebar-designation">
                                        Welcome
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                                <i class="typcn typcn-device-desktop menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Appointment")">

                                <i class="fa fa-check"></i>

                                <span class="menu-title  mx-4">Book Appointment</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ViewStaffMgmt","StaffManagement")">
                                <i class="fa fa-users"></i>
                                <span class="menu-title mx-4">Staff Management </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Stockmgmt","Home")">
                                <i class="fa fa-th"></i>
                                <span class="menu-title mx-4">Stock Management</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Invoice","Home")">
                                <i class="fa fa-file"></i>
                                <span class="menu-title mx-4">Invoice</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Profile","Home")">
                                <i class="fa fa-user"></i>
                                <span class="menu-title mx-4">Profile</span>
                            </a>
                        </li>

                    </ul>

                </nav>*@
            <!-- partial -->

            <div class="main-panel">

                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Dashboard"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><i class="fa-solid fa-chevron-right mx-2"></i> @ViewBag.Module</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-chevron-right mx-2"></i> @ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
                @{Html.RenderPartial("_Alerts"); }
                <div class="msg">
                </div>
                @*<div class="content-wrapper">*@
                @RenderBody()
                @*</div>*@

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a href="https://bluebellcspl.com/" class="font-weight-bold" target="_blank">Bluebell CompuServe Pvt. Ltd <i class="typcn typcn-heart text-danger"></i></a>. All rights reserved.</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>



    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/assets/js/off-canvas.js"></script>
    <script src="~/Content/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/Content/assets/vendors/select2/select2.min.js"></script>
    @*<script src="~/Content/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>*@
    <script src="~/Content/assets/js/hoverable-collapse.js"></script>
    <script src="~/Content/assets/js/settings.js"></script>
    <script src="~/Content/assets/js/jquery.cookie.js"></script>
    <script src="~/Content/assets/js/template.js"></script>
    <script src="~/Content/assets/js/todolist.js"></script>
    <script src="~/Content/assets/js/dashboard.js"></script>
    <script src="~/Content/assets/js/select2.js"></script>





    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




    <!--Datatable-->
    <script src="~/Content/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/assets/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/datatables/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/datatables/js/jszip.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/assets/js/data-table.js"></script>
    <script src="~/Content/assets/datatables/js/datatables.init.js"></script>
    @*<script src="~/Content/assets/bootstrap/cdn.datatables.net_1.13.5_js_jquery.dataTables.js"></script>*@
    <!---->
    @*<script src="~/Content/assets/vendors/progressbar.js/progressbar.min.js"></script>*@
    @*<script src="~/Content/assets/vendors/chart.js/Chart.min.js"></script>*@
    @*<script src="~/Content/assets/js/jquery.cookie.js"></script>*@
    @*<script src="~/Content/assets/js/code.jquery.com_ui_1.12.1_jquery-ui.js"></script>*@


    <script src="~/Content/assets/bootstrap/Custom.js"></script>
    <script src="~/Content/assets/bootstrap/flatpickr.js"></script>


    @if (TempData["SweetAlert"] != null)
    {
        <script>
         var data = @Html.Raw(Json.Encode(TempData["SweetAlert"]));

            SweetAlert(data.Message, data.Type);
            function SweetAlert(Message, Type) {
                
                if (Type == 'success') {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: Message,
                        showConfirmButton: false,
                       timer: 3000
                    })
                }
                else if (Type == 'error') {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: Message,
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                else if (Type == 'warning') {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                'Deleted!',
                                'Your record has been deleted.',
                                'success'
                            )
                        }
                    })
                }
                else if (Type == 'info') {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'info',
                        title: Message,
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
        }

        </script>
    }

    <script>
        function formSubmit(confirmMessage) {
            debugger
            Swal.fire({
                title: confirmMessage,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
            }).then((result) => {
                if (result.isConfirmed) {
                    // Trigger form submission using jQuery
                    $('.forms-sample').submit();
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info');
                }
            });

            // Prevent the default button behavior
            return false;
        }
    </script>
    <script>
        $(".toggle-password").click(function () {
            debugger
            $(this).toggleClass("fas fa-eye-slash");
            input = $(this).parent().find("input");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(document).ready(function () {
            var divElement = $('<div>').addClass('table-responsive');

            // Select the table element by its ID
            var tableElement = $('#base-style');

            // Wrap the table with the new div element
            tableElement.wrap(divElement);

            $(".dateflat").flatpickr({
                dateFormat: "d-m-Y"
            });

            $(".rangeDates").flatpickr({
                dateFormat: "d-m-Y",
                maxDate: "today",
                onClose: function (selectedDates, dateStr, instance) {
                    if (selectedDates.length > 0) {
                        var selectedDate = selectedDates[0];
                        $(".rangeDates").not(instance.element).flatpickr({
                            dateFormat: "d-m-Y",
                            minDate: selectedDate
                        });
                    }
                }
            });

        });
    </script>
    <script>
          function ActiveDeactiveStatusChange(status, Code, Type) {
    $('#AjaxLoader').show();
    if (Code != null) {
        var Value = status.checked;

        $.ajax({
            url: "@System.Configuration.ConfigurationManager.AppSettings["myKey"]" + "/Master/ChangeStatus",
            contentType: "application/json; charset=utf-8",
            data: { Code: Code, status: Value, Type: Type },
            dataType: "html",
            success: function (response) {
                var sweetAlertMessage = "Status updated successfully";
                // Call SweetAlert function with success message and type
              
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: sweetAlertMessage,
                    showConfirmButton: false,
                    timer: 3000
                })

                // Remove old alert class inside the div
                $(".msg").find(".alert").remove();

                // Add the new success alert message to the div
                //var result = "<div class='alert alert-success background-success'>" + response + "</div>";
                //$(".msg").html(result);

                // Remove the success alert after 8 seconds
                window.setTimeout(function () {
                    $(".alert").fadeTo(2000, 0).slideUp(2000, function () {
                        $(this).remove();
                    });
                }, 8000);
            },
            error: function (xhr, status, error) {
                var result = "<div class='alert alert-danger background-danger'>Status Not Updated</div>";
                $(".msg").html(result);

                // Remove the error alert after 8 seconds
                window.setTimeout(function () {
                    $(".alert").fadeTo(2000, 0).slideUp(2000, function () {
                        $(this).remove();
                    });
                }, 8000);
            }
        });
    }
}
        @*function ActiveDeactiveStatusChange(status, Code, Type) {
            $('#AjaxLoader').show();
            if (Code != null) {
                var Value = status.checked;

                $.ajax({
                    url: "@System.Configuration.ConfigurationManager.AppSettings["myKey"]" + "/Master/ChangeStatus",
                    contentType: "application/json; charset=utf-8",
                    data: { Code: Code, status: Value, Type: Type },
                    dataType: "html",
                    success: function (response) {
                        var result = "<div class='alert alert-success background-success'>" + response + "</div>"
                        $(".msg").html(result);
                        window.setTimeout(function () {
                            $(".alert").fadeTo(2000, 0).slideUp(2000, function () {
                                $(this).remove();
                            });
                        }, 8000);
                    },
                    error: function (xhr, status, error) {
                        var result = "<div class='alert alert-danger background-danger'>Status Not Updated</div>"
                        $(".msg").html(result);
                        window.setTimeout(function () {
                            $(".alert").fadeTo(2000, 0).slideUp(2000, function () {
                                $(this).remove();
                            });
                        }, 8000);
                    }
                });
            }
        }*@
         function UmActiveDeactiveStatusChange(status, Code, Type) {
            $('#AjaxLoader').show();
            if (Code != null) {
                var Value = status.checked;

                $.ajax({
                    url: "@System.Configuration.ConfigurationManager.AppSettings["myKey"]" + "/UserManagement/ChangeStatus",
                    contentType: "application/json; charset=utf-8",
                    data: { Code: Code, status: Value, Type: Type },
                    dataType: "html",
                    success: function (response) {
                        var result = "<div class='alert alert-success background-success'>" + response + "</div>"
                        $(".msg").html(result);
                        window.setTimeout(function () {
                            $(".alert").fadeTo(2000, 0).slideUp(2000, function () {
                                $(this).remove();
                            });
                        }, 8000);
                    },
                    error: function (xhr, status, error) {
                        var result = "<div class='alert alert-danger background-danger'>Status Not Updated</div>"
                        $(".msg").html(result);
                        window.setTimeout(function () {
                            $(".alert").fadeTo(2000, 0).slideUp(2000, function () {
                                $(this).remove();
                            });
                        }, 8000);
                    }
                });
            }
        }
    </script>
    <script>
        (function ($) {
            $.fn.inputFilter = function (callback, errMsg) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop focusout", function (e) {
                    if (callback(this.value)) {
                        // Accepted value
                        if (["keydown", "mousedown", "focusout"].indexOf(e.type) >= 0) {
                            $(this).removeClass("input-error");
                            this.setCustomValidity("");
                        }
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        // Rejected value - restore the previous one
                        $(this).addClass("input-error");
                        this.setCustomValidity(errMsg);
                        this.reportValidity();
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        // Rejected value - nothing to restore
                        this.value = "";
                    }
                });
            };
        }(jQuery));

        $(".numbererror").inputFilter(function (value) {
            return /^-?^\d*[.,]?\d*$/.test(value) && (value === "" || parseInt(value) >= 0);
        }, "Number Only Allow");
        $(".yearerror").inputFilter(function (value) {
            return /^\d*(?:\.\d{1,2})?$/.test(value) && (value === "" || parseInt(value) <= 10000);
        }, "Only Enter Year");
        $(".contacterror").inputFilter(function (value) {
            return /^\d*(?:\.\d{1,2})?$/.test(value) && (value === "" || parseInt(value) <= 10000000000);
        }, "10 Numbers Only Allow");
        $(".numbersymbolerror").inputFilter(function (value) { return /^-?^\d*[.,+-]?\d*$/.test(value); }, " Numbers and Symbol Only Allow");
        $(".numberdecimal").inputFilter(function (value) { return /^-?\d*[.,]?\d*$/.test(value); }, "Decmial Numbers Only Allow");
        $(".numberonly").inputFilter(function (value) { return /^\d*[]?\d*$/.test(value); }, " Numbers Only Allow");
        $(".alphanumber").inputFilter(function (value) { return /^[a-zA-Z0-9-]*$/.test(value); }, "Only Alphabets and Numbers Allowed.");
        $(".alphanum").inputFilter(function (value) { return /^[a-zA-Z0-9-,<]*$/.test(value); }, "Only Alphabets and Numbers Allowed.");
        $(".Rangenumberdecimal").inputFilter(function (value) { return /^\d*[.]?\d*[-]?\d*[.]?\d*$/.test(value); }, " Numbers Only Allow");
        $(".twonumberonly").on("input", function () {
            var value = $(this).val();
            value = value.replace(/[^\d]/g, ''); // Remove non-digit characters
            value = value.substring(0, 2); // Restrict to at most two digits
            $(this).val(value);
        });
        $(".pincodevalidation").on("input", function () {
            var value = $(this).val();
            value = value.replace(/[^\d]/g, ''); // Remove non-digit characters
            value = value.substring(0, 6); // Restrict to at most two digits
            $(this).val(value);
        });
    </script>
</body>
</html>